* {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.header-section {
  background-color: #ffffff;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 18px;
  margin: 0;

  padding: 10px;
}

.icons img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logo-heading {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 10px;
  margin-right: 5px;
  width: 300px;
  height: 100px;
  margin-right: 5px;
}

.heading {
  font-size: 24px;
  margin: 0;
}

.location {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.log-heading {
  font-size: 18px;
  margin: 0;
  margin-right: 10px;
}

.location-text {
  font-size: 16px;
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  width: 600px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.header-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.header-list li {
  margin-right: 40px;
  cursor: pointer;
  font-size: 16px;
}

.hero-section {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 1500px;
  height: 500px;
}

.hero-text {
  font-size: 34px;
  margin-top: 30px;
  position: absolute;
  bottom: 350px;
  left: 300px;
}

.hero-list {
  margin-top: 10px;
  padding: 0;
  text-align: left;
  position: absolute;
  bottom: -300px;
  left: 50px;
}

.hero-list li {
  margin-bottom: 10px;
}

.footer-section {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: rgba(255, 174, 0, 0.185);
  border-radius: 50%;
}

.div {
  background: #f6ab01 0% 0% no-repeat padding-box;
}
